<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bon appetit</title>
</head>
<body>
    <div id="header" style="height: 70px; width: 100%; background-color: #224fa8; display: table;">
        <div id="logo" style="width: 40%; display: table-cell; padding: 15px"><a href="{% url 'catalog:index' %}">logo</a></div>
        <div id="search" style="width: 40%;display: table-cell;vertical-align: middle;text-align-last: right;">
            <input type="text" maxlength="100"></div>
        <div id="menu" style="width: 20%; display: table-cell;vertical-align: middle;text-align-last: right; padding-right:10px;">
            <div>Edit profile</div>
            <div><a href="{% url 'catalog:my_recipes'  1 %}">MyRecipes</a></div>
        </div>
    </div>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>