<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bon appetit</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}">
</head>
<body>
    <div id="header">
        <div id="logo">
            <a href="{% url 'catalog:index' %}"><img src="{% static 'catalog/images/logo1.png' %}"/></a>
        </div>
        <div id="search">
            <img id="sim" src="{% static 'catalog/images/search-24.png' %}"/>
            <input type="text" maxlength="100">
        </div>
        {% if user.is_authenticated %}



        <div id="menu" class="dropdown">
            <button class="dropbtn"><img class="user" src="{% static 'catalog/images/cook-64_1.png' %}"></button>
            <div class="dropdown-content">
                <div><a href="">Edit profile</a></div>
                <div><a href="{% url 'catalog:my_recipes'  user.id %}">My recipes</a></div>
                <div><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></div>
            </div>
        </div>
        {% else %}
         <div id="loginbtn">
             <a href="{% url 'login'%}?next={{request.path}}">Login</a>
         </div>
       {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>